<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <bean id="planDesignController" class="cn.edu.guet.controller.PlanDesignController">
        <proporty name="planDesignInfoService" ref="planDesignInfoService"></proporty>
    </bean>

    <bean id="planDesignInfoService" class="cn.edu.guet.service.impl.PlanDesignInfoServiceImpl">
    </bean>
</beans>
